title {

  color:  black;


}




html {
background-color: white; 
font-family: 'Times New Roman', Times, serif;

}


h1 {

color: rgb(255, 255, 255);

text-align: center;
user-select: none;
}

.box {

text-align: center;
background: linear-gradient(45deg, gray,rgb(68, 67, 67));
width: 50%; 
height:auto;
border: 5px solid white;
border-radius: 15px;
position: relative;
margin-top: 50px;

}

.box input[type ="text"] {

color: gray;

}





}